.config
*.o
*.pyc
*.swp
tags
cscope.out

# Databases
*.db

# Example project files
uc-code/sdkconfig
uc-code/sdkconfig.old
uc-code/build

#Doc build artifacts
docs/_build/
docs/doxygen-warning-log.txt
docs/sphinx-warning-log.txt
docs/xml/
docs/man/

# venv
webapp/chilio-venv/*
