{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
    <h1> Plot of sensor data </h1>
    <button id="btnUpdate" type="button">Update</button>
    <div class="plot-container" style="position: relative; height:20vh; width:40vw">
        <canvas id="plotSensor" width="100" height="75"></canvas>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
    <script type="text/javascript">
        var samples = {{ samples | tojson }} ;
        var data = [];
        samples.forEach(
            function (elem, index) {
                var datapoint = 
                    {x: new Date(elem.TIME * 1000.0), y: elem.VALUE};
                data.push(datapoint);
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
